:root {
    --dark-bg-color: #041430;
    --dark-input-box : #2420fdc9;
    --dark-input-text : #ffffff;
    --dark-char-count-bg : #0E1F63;
    --dark-char-count-text : #E4D9FF;
    --dark-btn-bg : #193bc1;

    --light-bg-color: #e0fbfc;
    --light-input-box : #ffff;
    --light-input-text : #252422;
    --light-char-count-bg : #E4D9FF;
    --light-char-count-text : #0E1F63;
    --light-btn-bg : #b7c5ff;
  }
  
  /* defaults */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  /*Common*/
  .title-icon{
    width: 20%;
    min-width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-grp{
    width: max-content;
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .app-header img{
    width: 4rem;
  }

  .app-header{
    width: 80%;
    height: 6rem;
    max-height: 6rem;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:3rem;
  }

  /*Dark Theme*/
  
  .container.dark{
    width: 100vw;
    height: 100vh;
    background: var(--dark-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn.dark{
    font-weight: 600;
    background-color: var(--dark-btn-bg);
    color: var(--dark-input-text);
    padding: 14px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }

  .btn.dark:hover{
    background-color: var(--dark-char-count-bg);
    border: 1px solid #fff;
  }

  
  

  #app-title.dark{
    font-size: 28px;
    color:#ffff;
  }

  

  #input-box.dark{
    width: 80%;
    height: 70%;
    max-width:80%;
    max-height: 80%;
    background: var(--dark-input-box);
    border:1px solid whitesmoke;
    padding: 20px;
    font-size: 18px;
    color: var(--dark-input-text);
  }

  
  #character-counter.dark{
    color: #ffff;
  }


  /*Light Theme */

  .container.light{
    width: 100vw;
    height: 100vh;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn.light{
    font-weight: 600;
    background-color: var(--light-btn-bg);
    color: var(--light-input-textinput-text);
    padding: 14px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }

  .btn.light:hover{
    background-color: var(--light-char-count-bg);
    border: 1px solid #474747;
  }


  #app-title.light{
    font-size: 28px;
    color:#0f0f0f;
  }

  #input-box.light{
    width: 80%;
    height: 70%;
    max-width:80%;
    max-height: 80%;
    background: var(--light-input-box);
    border:1px solid rgb(23, 23, 23);
    padding: 20px;
    font-size: 18px;
    color: var(--light-input-text);
  }

  #character-counter.light{
    color: var(--light-input-text);
  }